@import "./variables.scss";

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  background-color: $theme-color-dark;
}

.content,
.img {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 1;
  padding: 30px;
}

.img {
  align-items: flex-end;
  > img {
    max-height: 600px;
    width: 80%;
  }
}

.title {
  font-size: 96px;
  line-height: 90px;
  margin: 0;
}
