@import "./variables.scss";

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  background-color: $theme-color-dark;
}

.content,
.img {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 1;
  padding: 30px;
}

.img {
  align-items: flex-end;
  > img {
    max-height: 600px;
    max-width: 80%;
  }
}

.title {
  font-size: 96px;
  line-height: 90px;
  margin: 0;
}

@media (max-width: 1100px) {
  .content {
    flex: 1.2;
  }
  .img {
    flex: 0.8;
  }
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
  }

  .img, .content {
    align-items: center;
  }

  .img {
    padding-top: 0;
  }

  .content {
    margin-bottom: 30px;

    .title {
      font-size: 4em;
      text-align: center;
      transform: translateX(-0.15em);
    }

    p {
      margin-top: 0;
      text-align: center;
    }
  }
}
