@import "./variables.scss";

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.alcoholFree {
  order: 1;
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.filterIcon {
  position: relative;
  top: 10px;
  height: 60px;

  img {
    height: 40px;
    transition: all 0.3s ease;
  }
}

.listWrapper {
  position: absolute;
  opacity: 0;
  top: 80px;
  left: 0px;
  width: 100%;
  padding: 0px;
  overflow: hidden;
  background-color: $theme-color-dark;
  transition: all 0.3s ease;
  max-height: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  pointer-events: none;

  > div {
    padding-left: 0;
  }
  > p:first-child {
    margin-top: 0;
  }
  > div + p {
    margin-top: 30px;
  }
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}

.ingredient {
  font-size: $font-sm;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid;
  border-radius: $font-md;
  margin: 2px;
  cursor: pointer;
  text-transform: capitalize;

  &:hover {
    background-color: $theme-color;
  }
}

@media (min-width: 651px) {
  .container:hover .alcoholFree:not(:hover) + .filterIcon > img {
    transform: rotate(180deg);
  }

  .filterIcon:hover + .listWrapper,
  .listWrapper:hover {
    opacity: 1;
    max-height: calc(100vh - 80px);
    pointer-events: all;
    padding: 30px;
    overflow: scroll;
  }
}

@media (max-width: 650px) {
  .container {
    flex: 0;
  }

  .container.open .filterIcon > img {
    transform: rotate(180deg);
  }

  .container.open .listWrapper {
    opacity: 1;
    max-height: calc(100vh - 80px);
    pointer-events: all;
    padding: 30px;
    overflow: scroll;
  }
}
