@import "./variables.scss";

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.heading {
  font-size: $font-xl;
  line-height: $font-lg;
  margin: $font-lg 0;

  &.underlined {
    border-bottom: 2px solid;
  }
}
